@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');

.title-font {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
}

.primary-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400px;
    font-style: normal;
}



/* shared styles */
.display-flex {
    display: flex;
}

main {
    max-width: 1140px;
    margin: 0 auto;
}

section {
    margin-top: 120px;
}

.title-font-color {
    color: rgba(233, 90, 8, 1);
}

.section-title {
    font-size: 3.2rem;
    font-weight: 700;
    margin: 0px;
}

.gray-1 {
    color: rgba(0, 0, 0, 0.5);
    font-size: 1.5rem;
    margin-top: 13px;
    margin-bottom: 20px;
}

.primary-btn {
    font-size: 1rem;
    font-weight: 500;
    color: white;
    width: 100%;
    padding: 20px 50px;
    border: none;
    background-color: rgba(233, 90, 8, 1);
}



/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}

.nav-item {
    margin-left: 48px;
    list-style: none;
}

.nav-link {
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
}

.navbar,
.banner {
    max-width: 1140px;
    margin: 0 auto;
}

.banner {
    margin-top: 150px;
}

.banner-title {
    font-size: 4rem;
    font-weight: 700;
    margin: 0px;
}



/* our plants section styles */
.plant-container {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
}

.card-container {
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(4, 1fr);

}

.card {
    text-align: center;
}

.card img {
    max-width: 100%;
}

.item-name {
    font-size: 1.5rem;
    font-weight: 450;
}

.item-price {
    font-weight: 800;
}



/* flower & plants lover section seyles */
.flower-container {
    display: flex;
    gap: 60px;
    margin-top: 200px;
}

.badge {
    width: 286px;
    height: 286px;
    position: absolute;
    margin-top: -120px;
    margin-left: 345px;
}



/* Latest Deals section styles */
.deasl-contant {
    text-align: center;
    max-width: 888px;
    margin: 0 auto;
}
.bloom-plant{
    grid-area: bloom;
}
.zabo-plant{
    grid-area: zabo;
}
.ana-plant{
    grid-area: ana;
}
.bg-1{
    background-image: url("../assets/deal-bloom.png");
    background-repeat: no-repeat;
}
.bg-2{
    background-image: url("../assets/deal-zabo.png");
    background-repeat: no-repeat;
}
.bg-3{
    background-image: url("../assets/deal-ana.png");
    background-repeat: no-repeat;
}
.deasl-container{
    display: grid;
    gap: 10px;
    grid-template-areas: 
    "bloom  zabo"
    "ana    zabo"
    ;
}
.bloom-plant,
.zabo-plant,
.ana-plant{
    text-align: center;
    background-position: center;
    color: white;
    padding: 50px;
    border-radius: 20px;
}
.deasl-container a{
    color: white;
}



/* join section starte this section is located in footer section */
.join-section {
    padding: 80px 0px;
    text-align: center;
    background-image: url("../assets/news-letter-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin-bottom: 50px;
}

.color {
    color: white;
    margin-bottom: 22px;
}

.join-section input {
    padding: 0.5rem 1.25rem;
    width: 644px;
}

.input-continer {
    justify-content: center;
    align-items: center;
}

.Subscribe-btn {
    padding: 0.5rem 3.5rem;
    font-size: 1rem;
    font-weight: 500;
    color: white;
    border: none;
    background-color: rgba(233, 90, 8, 1);

}



/* footer section styles */
footer {
    margin: 110px 0px;
}

.footer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    max-width: 1140px;
    margin: 0 auto;
}

.footer-container li,
a {
    list-style: none;
    text-decoration: none;
    color: rgba(137, 135, 161, 1);
    margin-bottom: 30px;

}

.icons {
    justify-content: center;
    justify-content: space-between;
}




/* media query for smal device */
@media screen and (max-width: 576px) {
    .banner {
        flex-direction: column-reverse;
    }

    .hide {
        display: none;
    }

    .banner-content {
        margin-top: 28px;
        margin-left: 16px;
    }

    .card-container {
        display: grid;
        gap: 20px;
        grid-template-columns: repeat(2, 1fr);
    }

    .flower-container {
        flex-direction: column;
        margin-top: 120px;
    }

    .flower-container img {
        width: 100%;
    }

    .badge {
        display: none;
    }

    .deasl-container {
        grid-template-columns: repeat(1, 1fr);
    }

    .join-section input {
        max-width: 80%;
        margin-bottom: 10px;
    }

    .footer-container {
        grid-template-columns: repeat(1, 1fr);
        margin: 10px;
    }
    .deasl-container{
        grid-template-areas: 
        "bloom"
        "ana"
        "zabo";
    }
}